<mat-card>
    <mat-card-title>
        alterar produto
    </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" name="name" [(ngModel)]="product.name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="preço" name="price" [(ngModel)]="product.price" >
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="updateProduct('Editado com sucesso!')" color="primary">
        Atualizar
    </button>
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>